<Settings>
  <SMTPServer>!localhost</SMTPServer>
  <DefaultEmailSender>smei-cockpit-demo-no-reply@sample.org</DefaultEmailSender>
  <Sudoer>
    <User>admin</User>
    <Password>PASSWORD</Password>
  </Sudoer>
  <Media>
    <Allow>
      <Category>account</Category>
    </Allow>
    <Debug>
      <Category>workflow</Category>
      <Category>reminders</Category>
      <Category>account</Category>
    </Debug>
  </Media>
  <Services>
    <Disallow>
      <Service>
        <Name>invest</Name>
      </Service>
    </Disallow>
    <Debug>
      <Service>
        <Name>invest</Name>
        <EndPoint>invest.end-point</EndPoint>
        <Logger>
          <Assert>exists($res/*[local-name(.) eq 'body'])</Assert>
          <Format>services:decode($res)</Format>
        </Logger>
      </Service>
      <Service>
        <Name>community</Name>
        <EndPoint>bootstrap</EndPoint>
        <Logger>
          <Assert>exists($res/*[local-name(.) eq 'body'])</Assert>
          <Format>services:decode($res)</Format>
        </Logger>
      </Service>
    </Debug>
  </Services>
  <Hold>
    <Allow>admin</Allow>
  </Hold>
  <Module>
    <Name>reminders</Name>
    <Property>
      <Key>enabled</Key>
      <Value>off</Value>
    </Property>
    <Property>
      <Key>default-email-reply-to</Key>
      <Value>smei-cockpit-demo@sample.org</Value>
    </Property>
  </Module>
  <Module>
    <Name>login</Name>
    <Property>
      <Key>ecas</Key>
      <Value>on</Value>
    </Property>
    <Property>
      <Key>prod-url</Key>
      <Value>https://entrypoint-smei.easme-web.eu</Value>
    </Property>
    <Property>
      <Key>test-url</Key>
      <Value>https://entrypoint-accp-smei.easme-web.eu</Value>
    </Property>
    <Property>
      <Key>dev-url</Key>
      <Value>http://localhost:5050</Value>
    </Property>
    <Property>
      <Key>startref</Key>
      <Value>me</Value>
    </Property>
  </Module>
  <Module>
    <Name>scaleup</Name>
    <Property>
      <Key>mode</Key>
      <Value>on</Value>
    </Property>
  </Module>
  <Module>
    <Name>community</Name>
    <Property>
      <Key>mode</Key>
      <Value>on</Value>
    </Property>
  </Module>  
  <Module>
    <Name>application</Name>
    <Property>
      <Key>URL</Key>
      <Value>http://localhost:8099/exist/projects/cockpit</Value>
    </Property>
  </Module>
</Settings>
